{% extends 'base.html' %}

{% block content %}
<div class="container p-2" style="text-align: center;">
    <div style="height: 20px;"></div>
    <h1 class="display-4">Redes Bibliométricas</h1>
    <div style="height: 20px;"></div>
    <div class="uk-card uk-card-default uk-card-body uk-animation-toggle uk-card-hover p-3" style="text-align: justify" tabindex="0">
        <div class="card-body">
            En esta sección se presentan los resultados de la bibliometría realizada en la base de datos WoS.
            VOSviewer es una herramienta de software para construir y visualizar redes bibliométricas.
            Estas redes pueden incluir, por ejemplo, revistas, investigadores o publicaciones individuales,
            y pueden construirse basándose en citas, acoplamiento bibliográfico, cocitación o relaciones de coautoría.<br>
            <br>
            Para visualizar los resultados, se recomienda hacer clic en el botón de pantalla completa en la parte inferior derecha de cada gráfico.
        </div>
    </div>
    <div style="height: 20px;"></div>
    <div class="uk-card uk-card-default uk-card-body uk-animation-toggle uk-card-hover p-3" style="text-align: justify" tabindex="0">
        <div class="card-body">
            En el primer gráfico de red bibliométrica, muestra a los autores con la mayor cantidad de publicaciones científicas
            desde el año 2020 hasta 2023, asociados a la Universidad de La Frontera, de un número de 3379
            publicaciones indizadas en Clarivate Web of Science.
        </div>
    </div>
    <div style="height: 20px;"></div>
        <iframe
            allowfullscreen="true"
            src="https://tinyurl.com/28j7aar7"
            width="100%"
            height="75%"
            style="border: 1px solid #ddd; max-width: 1200px; min-height: 500px"
            frameborder="0">
        </iframe>   
    <div style="height: 20px;"></div>
    <div class="uk-card uk-card-default uk-card-body uk-animation-toggle uk-card-hover p-3" style="text-align: justify" tabindex="0">
        <div class="card-body">
            El segundo gráfico muestra cuáles son los términos 'keywords' más utilizados por los autores UFRO
            desde el año 2020 hasta el 2023, igualmente indizadas en Clarivate Web of Science.
        </div>
     </div>
    <div style="height: 20px;"></div>
        <iframe
            allowfullscreen="true"
            src="https://tinyurl.com/2xortbkp"
            width="100%"
            height="75%"
            style="border: 1px solid #ddd; max-width: 1200px; min-height: 500px"
            frameborder="0">
        </iframe>
</div>
{% endblock content%}