<!-- Footer -->
{% load static %}
{% block content %}
<div class="container-fluid p-4 m-0" style="width: 100vw; background-image: url(&quot;https://repositorioufro.cl/files/asset/e98dc1ee419c885dbd0924c2ad8004fd7c65ee1d.png&quot;); background-size: cover; background-position: center center;">
    <div class="container p-3">
        <div class="row p-3 align-items-center">
            <div class="col-md">
                <div class="row align-items-center">
                    <div class="col-sm-3" class="p-1">
                        <img src="https://repositorio.ufro.cl/files/asset/fa411647c4557e343909196a06ae340ec2e51bca.png" width="90" height="140">    
                    </div>
                    <div class="col">
                        <p style="color: #ffffff" >CONTACTO</p>
                        <p style="color: #ffffff" ><a href="https://cienciaabierta.ufro.cl/" style="text-decoration: none; color: #ffffff"><img src="https://repositorioufro.cl/files/asset/a831caaff4708a71161e53900fbf615e8560a1e0.png" width="25" height="25">&nbsp;cienciaabierta.ufro.cl</a></p>
                        <p style="color: #ffffff" ><a href="mailto: " style="text-decoration: none; color: #ffffff"><img src="https://repositorioufro.cl/files/asset/dd93aa78b541ab537b55126759b9b553d1e60154.png" width="25" height="25">&nbsp;ciencia.abierta@ufrontera.cl</a></p> 
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="row align-items-center">
                    <div class="col">
                        <a href="https://www.ufro.cl/" target="_blank" style="text-decoration: none;" class="p-1">
                            <img src="https://repositorio.ufro.cl/files/asset/4bb0d7977fd459601547426a87de36f061a4797f.png" class="p-1" target="_blank" width="150" height="65">
                        </a>
                        <a href="https://vrip.ufro.cl/" target="_blank" style="text-decoration: none;" class="p-1">
                            <img src="https://repositorio.ufro.cl/files/asset/7aa7a9987e0c4756b844636f0aa84d9a2023c5ef.png" class="p-1" href="https://vrip.ufro.cl/" target="_blank" width="150" height="65">
                        </a>
                        <a href="https://acceso-abierto.anid.cl/" target="_blank" style="text-decoration: none;" class="p-1">
                            <img src="https://repositorio.ufro.cl/files/asset/27f1b523c62525d03151d06ee21380b63891de38.png" class="p-1" href="https://acceso-abierto.anid.cl/" target="_blank" width="150" height="65">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    <div class="container">
    <hr class="uk-divider-small px-5" style="color: white">
        <p style="text-align: center; color: #ffffff;"><a href="https://www.djangoproject.com/" target="_blank" rel="noopener noreferrer" class="text-reset" style="text-decoration: none">Powered by Django Framework</a></p>
        <p style="text-align: center; color: #ffffff">Las obras contenidas en esta plataforma están bajo una <a class="text-reset" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Licencia Creative Commons Atribución-NoComercial-SinDerivar 4.0 Internacional</a></p>
    </div>   
</div>

{% endblock %}